include rsgc/Parser/_static/*
include rsgc/GeneCompatibility/*
include rsgc/GeneCompatibility/D_Tailor/**/*
include rsgc/GeneCompatibility/D_Tailor/3rdParty/transterm/*
include rsgc/GeneCompatibility/D_Tailor/3rdParty/unafold/*
include rsgc/GeneCompatibility/D_Tailor/3rdParty/vienna/*
include rsgc/GeneCompatibility/D_Tailor/CAI_Tables/*
include rsgc/GeneCompatibility/BLAST/*
include rsgc/GeneCompatibility/BLAST/ncbi-blast-2.9.0+_win/bin/*
include rsgc/GeneCompatibility/BLAST/ncbi-blast-2.9.0+_mac/bin/*
include rsgc/GeneCompatibility/D_Tailor/DBOperation/*
include rsgc/GeneCompatibility/D_Tailor/DesignOfExperiments/*
include rsgc/GeneCompatibility/D_Tailor/Features/*
include rsgc/GeneCompatibility/D_Tailor/tmp/structures/*
include rsgc/GeneCompatibility/D_Tailor/tmp/transterm_files/*
include rsgc/GeneCompatibility/D_Tailor/tmp/unafold_files/*
include rsgc/GeneCompatibility/D_Tailor/tmp/*
include rsgc/GeneCompatibility/D_Tailor/Utils/*
include rsgc/GeneCompatibility/NCBI_SSU/data/*
include rsgc/GeneCompatibility/NCBI_SSU/ncbi_gn_data/*
include rsgc/GeneCompatibility/retrievegeneseqs/data/ncbi_gn_data/*
include rsgc/Database/*
include rsgc/Database/data/*
include rsgc/Database/tests/data/*
include rsgc/Database/tests/data2/*
include rsgc/Database/tests/data3/*
include rsgc/Database/tests/data4/*
include rsgc/Database/tests/data6/*
include rsgc/Database/tests/data7/*
include rsgc/Database/tests/data8/*
include rsgc/Database/tests/datam/*
include rsgc/Database/tests/metacyc_data/*
include rsgc/Database/mackinac/data/modelseed/bacteria/*
include rsgc/Database/mackinac/data/modelseed/original/*
include rsgc/Database/mackinac/data/modelseed/universal/*
include rsgc/FBA/media/*
include rsgc/indigopython130_linux/lib/Linux/x64/*
include rsgc/indigopython130_linux/lib/Linux/x86/*
include rsgc/indigopython130_win/lib/Win/x64/*
include rsgc/indigopython130_win/lib/Win/x86/*
include rsgc/indigopython130_mac/lib/Mac/10.7/*
include rsgc/docs/*