table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .collapsible {
    background-color: #75c47c;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: rgb(129, 124, 124);
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }